@charset "UTF-8";
/*
* NanumBarunGothic (korean)
 */
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src:
      url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
      url(../fonts/NotoSansKR-Light.woff) format('woff'),
      url(../fonts/NotoSansKR-Light.otf) format('opentype')
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: normal;
  src:
      url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
      url(../fonts/NotoSansKR-Regular.woff) format('woff'),
      url(../fonts/NotoSansKR-Regular.otf) format('opentype')
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: bold;
  src:
      url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
      url(../fonts/NotoSansKR-Bold.woff) format('woff'),
      url(../fonts/NotoSansKR-Bold.otf) format('opentype')
}
